
<div class="container">
  <h1>Tous mes Cocktails</h1>
    <p><%= link_to 'Add cocktails', new_cocktail_path %></p>
  <div class="row">
    <ul>
      <% @cocktails.each do |cocktail| %>
        <li>
          <div class= "col-xs-12 col-sm-4">
            <div class="cards">
              <h3><%= cocktail.name %></h3>
              <p><%= link_to 'View détails', cocktail_path(cocktail[:id]) %></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div><!--fin container -->














