<div class="banner">
  <div class="banner-content">
    <h1>Mister Cocktails</h1>
    <p>All cocktails you can desire !</p>

    <div>
      <%= link_to 'Create cocktail', new_cocktail_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class= "col-sm">
      <ul  class="list-inline">
        <% @cocktails.each do |cocktail| %>
          <li  class="list-inline-item">
            <div class="cards" style="background: linear-gradient(rgba(0,0,250,0.3), rgba(250,0,0,0.2)">

              <span class="cards-category">Mister Cocktails</span>
              <div class="cards-description">
                <h3><%= cocktail.name %></h3>
                <p><%= link_to 'View détails', cocktail_path(cocktail[:id]) %></p>
              </div>
              <img_tag alt="" class="avatar cards-image">
            </div>
          </li>
        <% end %>
      </ul>
    </div><!--fin col-xs-12 -->
  </div>
</div><!--fin container -->













