<div class="col-sm-6">
  <div class="form">
    <h4>Add Ingredients</h4>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient_id, collection: Ingredient.all %>
      <%= f.input :description, placeholder: 'How much ?' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

