<div class="col-sm-6">
  <div class="form left">
    <h6>Add Ingredients</h6>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient_id, collection: Ingredient.all %>
      <%= f.input :quantitée, placeholder: 'How much ?' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<div class="right">  </div>
