.cards {
  background-color: red;
position: relative;
height: 190px;
width: 300px;
background-size: cover;
padding: 10px;
border: blue 1px solid;
border-radius: 5px;

}
.cards-category {
  color: white;
  position: absolute;
top: 10px;
left: 10px;
}
.cards-description {
  color: white;
position: absolute;
bottom: 0px;
}
.cards-image {
  color: white;
position: absolute;
top: 10px;
right:10px;
}
.row {

}
