.cards {
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
position: relative;
height: 190px;
width: 300px;
padding: 10px;
border-radius: 5px;
margin: 20px;
box-shadow: 1px 1px 2px 1px;
}

.tagg:hover {
  box-shadow: 2px 2px 4px 2px;
  opacity: 50%;

  }

.cards-category {
color: white;
position: absolute;
right: 20px;
}

.cards-description {
  text-align:center;
  color: white;
  position: absolute;
  bottom: 4px;
}

.cards-description h3 {
    text-align: center;
  }
.crud-line a {
  font-weight: lighter;
  text-decoration: none;
  color: #101010;
  margin-left: 10px;
}

.crud-line a:hover {
  color: white;
}
