.cards {
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');
position: relative;
height: 190px;
width: 300px;
background-size: cover;
padding: 10px;
border-radius: 5px;
margin: 20px;
}

.cards-category {
color: white;
position: absolute;
right: 20px;
}

.cards-description {
color: white;
position: absolute;
bottom: 20px;
}
.cards-image {
  color: white;
position: absolute;
top: 10px;
right:10px;
}
.row {

}

.cards-description h3 {
    text-align: center;
  }
