<div class="cards">
  <span class="cards-category">POPULAR</span>
    <div class="cards-description">
    <h3>title2</h3>
    <p>some stuff here</p>
  </div>
  <img src="http://placehold.it/50x50" alt="" class="avatar cards-image">
</div>

